@import "../../utils/css-variables.scss";

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 60px 48px 48px;
	text-align: center;

	&__words {
		font-family: $font-title;
		font-weight: $font-title-weight;
		font-size: $font-title-size;
		margin: 0;
		padding: 0;
		transition: all 0.3s ease;
	}

	&__size-s {
		font-size: 2rem;
	}
	&__size-m {
		font-size: 2.5rem;
	}
	&__size-l {
		font-size: 2.8rem;

		&:hover {
			text-underline-offset: 17px;
			text-decoration: $color-accent2 wavy underline;
		}
	}
	&__size-xl {
		font-size: 3rem;
	}
}
