@import '../../utils/css-variables.scss';

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  text-align: center;

  &__words{
    font-family: $font-title;
    font-weight: $font-title-weight;
    font-size: $font-subtitle-size;
    margin: 0;
    padding: 0;
  }

  &__sparkles{
    width: 24px;
    height: 24px;
    margin: 0 8px;
  }
  &__sparkles-last{
    transform: rotate(180deg);
  }
}