@import "../../utils/css-variables.scss";

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 100;
	flex-direction: column;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 12px;
		box-shadow: 0 0 16px 0 $color-background;
	}

	&__navigation {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 20px;
		position: absolute;
	}

	&__close,
	&__navigation-left,
	&__navigation-right {
		font-size: 40px;
		font-weight: 400;
		color: $color-text;
		cursor: pointer;
	}

	&__image {
		width: 100%;
		max-width: 500px;
		height: auto;
		border-radius: 12px;
	}
}
// Swiper
.swiper {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 12px;
}
.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 18px;
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	color: $color-text;
}
.swiper-pagination-bullet {
	background-color: $color-text;
	border-radius: 4px;
	opacity: 60%;
	box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.5);
}
.swiper-pagination-bullet-active {
	background-color: $color-text;
	width: 30px;
	height: 10px;
	opacity: 80%;
}

@media (max-width: 768px) {
	.swiper {
		width: 300px;
		height: auto;
	}
}
