@import "../../utils/css-variables.scss";

.top-products-skeleton {
	&__container {
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 0 auto;
	}

	&__product {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 10px 0;
		gap: 24px;
	}

	&__product-image {
		width: 88px;
		height: 88px;
		border-radius: 8px;
	}

	&__product-name {
		padding-right: 24px;
		text-transform: uppercase;
		font-weight: $font-title-weight;
		letter-spacing: 2px;
	}
}

@media (max-width: 768px) {
	.top-products-skeleton {
		position: relative;
		top: $nav-mobile-height;

		&__container {
			max-width: 70%;
			width: 70%;
		}
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.top-products-skeleton__container {
		max-width: 700px;
		width: 700px;
	}
}
@media (min-width: 1024px) and (max-width: 1440px) {
	.top-products-skeleton__container {
		max-width: 900px;
		width: 900px;
	}
}
@media (min-width: 1440px) {
	.top-products-skeleton__container {
		max-width: 940px;
		width: 940px;
	}
}
@media (min-width: 768px) {
	.top-products-skeleton {
		&__container {
			display: grid;
			grid-template-columns: repeat(2, 50%);
			gap: 24px;
		}
	}
}
