@import "../../utils/css-variables.scss";

.card-skeleton {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	position: relative;
	top: 50px;

	&__container {
		display: flex;
		gap: 12px;
	}

	&__flip {
		height: auto;
		aspect-ratio: 1 / 1;
	}
}

@media (min-width: 768px) {
	.card-skeleton {
		/* 		display: flex;
		position: relative;
		width: 32%;
		align-items: center;
		align-content: center;
		flex-direction: column; */
	}
}

@media (max-width: 768px) {
	.card-skeleton {
		&__container {
			display: flex;
			flex-direction: column;
			gap: 12px;
			align-items: center;
		}

		&__flip {
			height: auto;
			aspect-ratio: 1 / 1;
		}
	}
}
