@import "../../utils/css-variables.scss";

.podium {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 80px;

	&__container {
		position: relative;
		text-align: center;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}
.base {
	transition: all 0.3s ease;
}

@media (max-width: 768px) {
	.base {
		display: none;
	}
	.podium__container {
		flex-direction: column;
		max-width: 70%;
		width: 70%;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.base {
		width: 700px;
	}
	.podium__container {
		max-width: 700px;
		width: 700px;
	}
}
@media (min-width: 1024px) and (max-width: 1440px) {
	.base {
		width: 900px;
	}
	.podium__container {
		max-width: 900px;
		width: 900px;
	}
}
@media (min-width: 1440px) {
	.base {
		width: 940px;
	}
	.podium__container {
		max-width: 940px;
		width: 940px;
	}
}
@media (min-width: 768px) {
	.base {
		background-color: #b4b4b4;
		height: 20px;
		position: absolute;
		border: 10px rgb(91 85 85 / 24%) inset;
		border-radius: 12px 12px 0 0;
	}
	.podium__container {
		display: flex;
		align-items: flex-end;
	}
}
